* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: sans-serif;
}

.main-container {
	background-color: #45edbb;
	max-width: max-content;
	margin: 2rem;
	padding: 2rem;
	border-radius: 10px;
	box-shadow: 10px 10px #4a6c6294;
}

#current-time {
	font-size: 5rem;
	font-weight: normal;
}

#current-day-date {
	font-size: 2.5rem;
	font-weight: lighter;
}

#alarm-form {
	margin: 40px 10px;
}

select {
	padding: 10px;
	border-radius: 10px;
	cursor: pointer;
}

#set-alarm-btn {
	margin-left: 40px;
	padding: 10px;
	border-radius: 10px;
	font-size: 1rem;
	color: white;
	background-color: #086340;
	width: 120px;
}

#alarms-title {
	font-size: 2rem;
	font-weight: 400;
	margin-bottom: 20px;
}

.alarm {
	display: flex;
	padding: 10px;
	justify-content: center;
}

.alarm-time {
	font-size: 1.5rem;
	font-weight: 300;
	margin-right: 40px;
}

.delete-alarm-btn {
	font-size: 1rem;
	color: white;
	border-radius: 10px;
	background-color: #eb715b;
	width: 90px;
}